<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bleex">

    <!-- 블루투스 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
 true : 저전력 블루투스 지원하는 기기에만 제공됨
         false : 저전력 블루투스를 지원하지 않는 기기에도 앱을 제공. (+ 런타임에 PackageManager.hasSystemFeature() 추가)
    -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceScanActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 블루투스 동작을 위한 서비스 등록 -->
        <service android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>